@charset "utf-8";
/*
   Grid Style Sheet for Web Development Project
   Author: Zhanpeng Hu
   Date: 10/24/2020  
*/


/* Grid Rows Styles */

div.row {
	clear: both;
}

div.row::after {
	clear: both;
	content:"";
	display: table;
}



/* Grid Columns Styles */

div[class^="col-"] {
	float: left;
}




@media only screen and (min-width: 481px) {
div.col-1-3 {width: 33.33%;}
div.col-2-3 {width: 66.67%;}	
div.col-1{width: 50%;}
div.col-2{width: 50%;}
}

/* Grid Outline Styles */

