@charset "utf-8";

/*
   Visual Style Sheet for About Page
   Author: Zhanpeng Hu
   Date: 10/24/2020  
*/


/* Page Body Styles */

body {
	border-left: 1px solid rgb(51, 51, 51);
	border-right: 1px solid rgb(51, 51, 51);
}


/* Aside Styles */

aside, aside > h2 {
	background: radial-gradient(white, rgb(113, 102, 212), rgb(100, 100, 100));
	border: 4px double rgb(45, 93, 62);
	border-radius: 30px;
	box-shadow: rgba(51, 91, 51, 0.8) 0px 0px 20px 10px;
}


/* Footer Styles */

footer {
	background: linear-gradient(200deg, rgb(172, 232, 172),
	rgb(21, 35, 21) 30%);
}
