@charset "utf-8";
/*
   Grid Style Sheet for Web Development Project
   Author: Zhanpeng Hu
   Date: 10/24/2020  
*/


/* Grid Rows Styles */
@media only screen and (min-width: 481px) {
	
div.row {clear: both;}
div.row::after {
	clear: both;
	content:"";
	display: table;
}

div[class^="col-"] {float: left;}
div.col-1{width: 50%;}
div.col-2{width: 50%;}
}